# Data Wrangling with Spark

I use this notebook firts to make some knowledge about the dataset.

In [1]:
import findspark
findspark.init()

import pyspark

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
from pyspark.sql.functions import sum as Fsum
from pyspark.sql import functions as F

import datetime

import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import os

In [3]:
####### Setting SparkSession:

spark = SparkSession \
            .builder \
            .appName("Wrangling Data") \
            .getOrCreate()

spark

## Read the dataset files:
|

|--> Item information

|

|--> Station information

|

|--> Measurement info

|

|--> Measurement Summary

In [4]:
measurement_item_file  = os.path.join('Resources', "Data_Measurement_item_info.csv")
measurement_station_file  = os.path.join('Resources', "Data_Measurement_station_info.csv")
measurement_info_file  = os.path.join('Resources', "Measurement_info.csv")
measurement_file  = os.path.join('Resources', "Measurement_summary.csv")

### Item dataset

In [5]:
item_info = spark.read.format("csv").option("header", "true").load(measurement_item_file)

In [6]:
item_info.printSchema()

root
 |-- Item code: string (nullable = true)
 |-- Item name: string (nullable = true)
 |-- Unit of measurement: string (nullable = true)
 |-- Good(Blue): string (nullable = true)
 |-- Normal(Green): string (nullable = true)
 |-- Bad(Yellow): string (nullable = true)
 |-- Very bad(Red): string (nullable = true)

### Station dataset

In [7]:
station_info = spark.read.format("csv").option("header", "true").load(measurement_station_file)
station_info.printSchema()

root
 |-- Station code: string (nullable = true)
 |-- Station name(district): string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

### Info dataset

In [8]:
info = spark.read.format("csv").option("header", "true").load(measurement_info_file)
info.printSchema()

root
 |-- Measurement date: string (nullable = true)
 |-- Station code: string (nullable = true)
 |-- Item code: string (nullable = true)
 |-- Average value: string (nullable = true)
 |-- Instrument status: string (nullable = true)

### Measurament dataset

In [9]:
measurament = spark.read.format("csv").option("header", "true").load(measurement_file)
measurament.printSchema()

root
 |-- Measurement date: string (nullable = true)
 |-- Station code: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- SO2: string (nullable = true)
 |-- NO2: string (nullable = true)
 |-- O3: string (nullable = true)
 |-- CO: string (nullable = true)
 |-- PM10: string (nullable = true)
 |-- PM2.5: string (nullable = true)

In [10]:
measurament.show(5)

+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+-----+
|Measurement date|Station code|             Address|  Latitude|  Longitude|  SO2|  NO2|   O3| CO|PM10|PM2.5|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+-----+
|2017-01-01 00:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.059|0.002|1.2|73.0| 57.0|
|2017-01-01 01:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.058|0.002|1.2|71.0| 59.0|
|2017-01-01 02:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0| 59.0|
|2017-01-01 03:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.004|0.056|0.002|1.2|70.0| 58.0|
|2017-01-01 04:00|         101|19, Jong-ro 35ga-...|37.5720164|127.0050075|0.003|0.051|0.002|1.2|69.0| 61.0|
+----------------+------------+--------------------+----------+-----------+-----+-----+-----+---+----+-----+
only showing top 5 rows

In [11]:
item_info.show()

+---------+---------+-------------------+----------+-------------+-----------+-------------+
|Item code|Item name|Unit of measurement|Good(Blue)|Normal(Green)|Bad(Yellow)|Very bad(Red)|
+---------+---------+-------------------+----------+-------------+-----------+-------------+
|        1|      SO2|                ppm|      0.02|         0.05|       0.15|          1.0|
|        3|      NO2|                ppm|      0.03|         0.06|        0.2|          2.0|
|        5|       CO|                ppm|       2.0|          9.0|       15.0|         50.0|
|        6|       O3|                ppm|      0.03|         0.09|       0.15|          0.5|
|        8|     PM10|      Mircrogram/m3|      30.0|         80.0|      150.0|        600.0|
|        9|    PM2.5|      Mircrogram/m3|      15.0|         35.0|       75.0|        500.0|
+---------+---------+-------------------+----------+-------------+-----------+-------------+

## Info - Class

In [12]:
class equipament:
    
    def __init__(self, code,name,unit,level1,level2,level3,level4):
        self.code = code
        self.name = name
        self.unit = unit
        self.good = float(level1)
        self.normal = float(level2)
        self.bad = float(level3)
        self.veryBad = float(level4)
        self.color = 0
    
    
    
    def getLevel(self,value):
        if value < self.good:
            self.color = 1
            return ("Good")
        elif value < self.normal:
            self.color = 2
            return ("Normal")
        elif value < self.bad:
            self.color = 3
            return ("Bad")
        elif value < self.veryBad:
            self.color = 4
            return ("Very Bad")
        
    def __repr__(self):
        return(f"Equipament Code = {str(self.code)}, Name = {str(self.name)}, Unit of Measurement = {str(self.unit)}")

In [13]:
item_df = item_info.toPandas()

list_equipaments = [equipament(row[0],row[1],row[2],row[3],row[4],row[5],row[6]) for index,row in item_df.iterrows()]

In [14]:
equipaments = {
    "SO2": list_equipaments[0],
    "NO2": list_equipaments[1],
    "CO": list_equipaments[2],
    "O3": list_equipaments[3],
    "PM10": list_equipaments[4],
    "PM2.5": list_equipaments[5]
}
equipaments

{'SO2': Equipament Code = 1, Name = SO2, Unit of Measurement = ppm,
 'NO2': Equipament Code = 3, Name = NO2, Unit of Measurement = ppm,
 'CO': Equipament Code = 5, Name = CO, Unit of Measurement = ppm,
 'O3': Equipament Code = 6, Name = O3, Unit of Measurement = ppm,
 'PM10': Equipament Code = 8, Name = PM10, Unit of Measurement = Mircrogram/m3,
 'PM2.5': Equipament Code = 9, Name = PM2.5, Unit of Measurement = Mircrogram/m3}

In [15]:
# Test

equipaments["SO2"].getLevel(0.0001)

'Good'

------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------

### Verify The Color Level of each measurement info

In [16]:
# Get the level Risk for SO2
level_risk = udf(lambda x: equipaments["SO2"].getLevel(float(x)))

In [18]:
# Pick a Type of Equipament Measurement
from pyspark.sql.functions import col

recent_measurements = measurament.select([col("SO2").alias("SO2"),col("Measurement date"),
                                          (F.regexp_extract('Measurement date',r'2017-01-01*', 0)).alias("DataNow")
                                         ])

# Adding a column with Level Risk


measurement_info_risk = recent_measurements.withColumn("Level", level_risk("SO2"))

In [19]:
measurement_info_risk.head(10)

[Row(SO2='0.004', Measurement date='2017-01-01 00:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.004', Measurement date='2017-01-01 01:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.004', Measurement date='2017-01-01 02:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.004', Measurement date='2017-01-01 03:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.003', Measurement date='2017-01-01 04:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.003', Measurement date='2017-01-01 05:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.003', Measurement date='2017-01-01 06:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.003', Measurement date='2017-01-01 07:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.004', Measurement date='2017-01-01 08:00', DataNow='2017-01-01', Level='Good'),
 Row(SO2='0.003', Measurement date='2017-01-01 09:00', DataNow='2017-01-01', Level='Good')]

### 1.) Question There is any Bad or Very Bad level in 2017-01-01, for SO2 , check This

In [20]:
measurament_now = measurament.select(["SO2","Measurement date","Station code"]) \
                            .filter(measurament["Measurement date"].rlike("2017-01-01*")) \

In [21]:
measurament_now = measurament_now.withColumn("Level", level_risk("SO2"))
measurament_now.show()

+-----+----------------+------------+-----+
|  SO2|Measurement date|Station code|Level|
+-----+----------------+------------+-----+
|0.004|2017-01-01 00:00|         101| Good|
|0.004|2017-01-01 01:00|         101| Good|
|0.004|2017-01-01 02:00|         101| Good|
|0.004|2017-01-01 03:00|         101| Good|
|0.003|2017-01-01 04:00|         101| Good|
|0.003|2017-01-01 05:00|         101| Good|
|0.003|2017-01-01 06:00|         101| Good|
|0.003|2017-01-01 07:00|         101| Good|
|0.004|2017-01-01 08:00|         101| Good|
|0.003|2017-01-01 09:00|         101| Good|
|0.004|2017-01-01 10:00|         101| Good|
|0.004|2017-01-01 11:00|         101| Good|
|0.004|2017-01-01 12:00|         101| Good|
|0.005|2017-01-01 13:00|         101| Good|
|0.006|2017-01-01 14:00|         101| Good|
|0.006|2017-01-01 15:00|         101| Good|
|0.006|2017-01-01 16:00|         101| Good|
|0.005|2017-01-01 17:00|         101| Good|
|0.005|2017-01-01 18:00|         101| Good|
|0.005|2017-01-01 19:00|         101| Good|
+-----+----------------+------------+-----+
only showing top 20 rows

In [22]:
bad_ocurence = measurament_now.filter(measurament_now["Level"] == "Bad").count()
very_bad_occurence = measurament_now.filter(measurament_now["Level"] == "Very Bad").count()

print(f"Numbers of Bad ocurrence = {bad_ocurence} and Numbers of Very Bad ocurrence = {very_bad_occurence}")

Numbers of Bad ocurrence = 2 and Numbers of Very Bad ocurrence = 0

### 2.) Station Code 102, measuremeants

In [23]:
station_info.show(2)

+------------+----------------------+--------------------+------------------+------------------+
|Station code|Station name(district)|             Address|          Latitude|         Longitude|
+------------+----------------------+--------------------+------------------+------------------+
|         101|             Jongno-gu|19, Jong-ro 35ga-...|37.572016399999995|127.00500749999999|
|         102|               Jung-gu|15, Deoksugung-gi...|37.564262899999996|126.97467569999999|
+------------+----------------------+--------------------+------------------+------------------+
only showing top 2 rows

In [25]:
measurament.select(["Station Code","SO2","Measurement date"]).filter(measurament["Station Code"] == 102)

[Row(Station Code='102', SO2='0.006', Measurement date='2017-01-01 00:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-01 01:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 02:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 03:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-01 04:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-01 05:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 06:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-01 07:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 08:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 09:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 10:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 11:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 12:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-01 13:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-01 14:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-01 15:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-01 16:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-01 17:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-01 18:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-01 19:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-01 20:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 21:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 22:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-01 23:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 00:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 01:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 02:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 03:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 04:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 05:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 06:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 07:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 08:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 09:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 10:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 11:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 12:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-02 13:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-02 14:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-02 15:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-02 16:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-02 17:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-02 18:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-02 19:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-02 20:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-02 21:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-02 22:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-02 23:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-03 00:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-03 01:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-03 02:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 03:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 04:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 05:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 06:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 07:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 08:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 09:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 10:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 11:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-03 12:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 13:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 14:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 15:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 16:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-03 17:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-03 18:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-03 19:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-03 20:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-03 21:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-03 22:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-03 23:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-04 00:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 01:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 02:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 03:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 04:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 05:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-04 06:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-04 07:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-04 08:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-04 09:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-04 10:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-04 11:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-04 12:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 13:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 14:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-04 15:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-04 16:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-04 17:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-04 18:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 19:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 20:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-04 21:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-04 22:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-04 23:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 00:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-05 01:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-05 02:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 03:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 04:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 05:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 06:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 07:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 08:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 09:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 10:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-05 11:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-05 12:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 13:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 14:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 15:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 16:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 17:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 18:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 19:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 20:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 21:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 22:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-05 23:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 00:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 01:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 02:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 03:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 04:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 05:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 06:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 07:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 08:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 09:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 10:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-06 11:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-06 12:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 13:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 14:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 15:00'),
 Row(Station Code='102', SO2='0.025', Measurement date='2017-01-06 16:00'),
 Row(Station Code='102', SO2='0.041', Measurement date='2017-01-06 17:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-06 18:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-06 19:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-06 20:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-06 21:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-06 22:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-06 23:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 00:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 01:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 02:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-07 03:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 04:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 05:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 06:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-07 07:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-07 08:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-07 09:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 10:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 11:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 12:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 13:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 14:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 15:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 16:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 17:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 18:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 19:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 20:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 21:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-07 22:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-07 23:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-08 00:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-08 01:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-08 02:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 03:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-08 04:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-08 05:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-08 06:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 07:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-08 08:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 09:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 10:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 11:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 12:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 13:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 14:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 15:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 16:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 17:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 18:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 19:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 20:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 21:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 22:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-08 23:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-09 00:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-09 01:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-09 02:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-09 03:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-09 04:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-09 05:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-09 06:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-09 07:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-09 08:00'),
 Row(Station Code='102', SO2='0.008', Measurement date='2017-01-09 09:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-09 10:00'),
 Row(Station Code='102', SO2='0.006999999999999999', Measurement date='2017-01-09 11:00'),
 Row(Station Code='102', SO2='0.006', Measurement date='2017-01-09 12:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 13:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 14:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 15:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 16:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 17:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 18:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 19:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 20:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 21:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-09 22:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-09 23:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 00:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 01:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 02:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 03:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 04:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 05:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 06:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 07:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 08:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 09:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 10:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 11:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-10 12:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 13:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 14:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 15:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 16:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 17:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 18:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 19:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 20:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 21:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 22:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-10 23:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 00:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 01:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 02:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 03:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 04:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 05:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 06:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 07:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-11 08:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-11 09:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-11 10:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-11 11:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-11 12:00'),
 Row(Station Code='102', SO2='0.005', Measurement date='2017-01-11 13:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-11 14:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-11 15:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 16:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 17:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 18:00'),
 Row(Station Code='102', SO2='0.004', Measurement date='2017-01-11 19:00'),
 Row(Station Code='102', SO2='0.003', Measurement date='2017-01-11 20:00'),

--------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------

## 3) Which station detected the highest amount of levels (Bad or Very bad) on 01-01-2017 for SO2

In [35]:
measurament_now = measurament.select(["Station Code","SO2","Measurement date"]) \
            .filter(measurament["Measurement date"].rlike("2017-01-01*")) \
            .withColumn("Level", level_risk("SO2"))
    
measurament_now.show()

+------------+-----+----------------+-----+
|Station Code|  SO2|Measurement date|Level|
+------------+-----+----------------+-----+
|         101|0.004|2017-01-01 00:00| Good|
|         101|0.004|2017-01-01 01:00| Good|
|         101|0.004|2017-01-01 02:00| Good|
|         101|0.004|2017-01-01 03:00| Good|
|         101|0.003|2017-01-01 04:00| Good|
|         101|0.003|2017-01-01 05:00| Good|
|         101|0.003|2017-01-01 06:00| Good|
|         101|0.003|2017-01-01 07:00| Good|
|         101|0.004|2017-01-01 08:00| Good|
|         101|0.003|2017-01-01 09:00| Good|
|         101|0.004|2017-01-01 10:00| Good|
|         101|0.004|2017-01-01 11:00| Good|
|         101|0.004|2017-01-01 12:00| Good|
|         101|0.005|2017-01-01 13:00| Good|
|         101|0.006|2017-01-01 14:00| Good|
|         101|0.006|2017-01-01 15:00| Good|
|         101|0.006|2017-01-01 16:00| Good|
|         101|0.005|2017-01-01 17:00| Good|
|         101|0.005|2017-01-01 18:00| Good|
|         101|0.005|2017-01-01 19:00| Good|
+------------+-----+----------------+-----+
only showing top 20 rows

In [61]:
# Agregate every station code per Level

measurament_now_grouped = measurament_now.groupBy("Station Code").agg(F.collect_list("Level").alias("Levels"))

measurament_now_grouped.show()

+------------+--------------------+
|Station Code|              Levels|
+------------+--------------------+
|         125|[Good, Good, Good...|
|         124|[Good, Good, Good...|
|         101|[Good, Good, Good...|
|         112|[Good, Good, Good...|
|         113|[Good, Good, Good...|
|         107|[Good, Good, Good...|
|         110|[Good, Good, Good...|
|         120|[Good, Good, Good...|
|         118|[Good, Good, Good...|
|         104|[Good, Good, Good...|
|         102|[Good, Good, Good...|
|         111|[Good, Good, Good...|
|         103|[Good, Good, Good...|
|         115|[Good, Good, Good...|
|         122|[Good, Good, Good...|
|         108|[Good, Good, Good...|
|         117|[Good, Good, Good...|
|         114|[Good, Good, Good...|
|         106|[Good, Good, Good...|
|         116|[Good, Good, Good...|
+------------+--------------------+
only showing top 20 rows

In [65]:
measurament_now.filter((measurament_now["Level"] == "Bad") | (measurament_now["Level"] == "Very Bad")) \
               .groupBy("Station Code").agg(F.countDistinct("Level"))\
               .show()

+------------+------------+
|Station Code|count(Level)|
+------------+------------+
|         112|           1|
|         120|           1|
+------------+------------+

In [75]:
get_unique = udf(lambda x: np.unique(x))

Py4JJavaError: An error occurred while calling o642.showString.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 2 in stage 175.0 failed 1 times, most recent failure: Lost task 2.0 in stage 175.0 (TID 3111, DESKTOP-LQK2FTR, executor driver): net.razorvine.pickle.PickleException: expected zero arguments for construction of ClassDict (for numpy.core.multiarray._reconstruct)
	at net.razorvine.pickle.objects.ClassDictConstructor.construct(ClassDictConstructor.java:23)
	at net.razorvine.pickle.Unpickler.load_reduce(Unpickler.java:773)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:213)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:123)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:136)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.$anonfun$evaluate$6(BatchEvalPythonExec.scala:83)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:484)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:490)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:726)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:321)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:872)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:872)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:349)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:313)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:441)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:444)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:1989)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:1977)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:1976)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1976)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:956)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:956)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:956)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2155)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2144)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:758)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2116)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2137)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2156)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:431)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:47)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3482)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2581)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3472)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$4(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:87)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3468)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2581)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2788)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:297)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:334)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: net.razorvine.pickle.PickleException: expected zero arguments for construction of ClassDict (for numpy.core.multiarray._reconstruct)
	at net.razorvine.pickle.objects.ClassDictConstructor.construct(ClassDictConstructor.java:23)
	at net.razorvine.pickle.Unpickler.load_reduce(Unpickler.java:773)
	at net.razorvine.pickle.Unpickler.dispatch(Unpickler.java:213)
	at net.razorvine.pickle.Unpickler.load(Unpickler.java:123)
	at net.razorvine.pickle.Unpickler.loads(Unpickler.java:136)
	at org.apache.spark.sql.execution.python.BatchEvalPythonExec.$anonfun$evaluate$6(BatchEvalPythonExec.scala:83)
	at scala.collection.Iterator$$anon$11.nextCur(Iterator.scala:484)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:490)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at scala.collection.Iterator$$anon$10.hasNext(Iterator.scala:458)
	at org.apache.spark.sql.catalyst.expressions.GeneratedClass$GeneratedIteratorForCodegenStage3.processNext(Unknown Source)
	at org.apache.spark.sql.execution.BufferedRowIterator.hasNext(BufferedRowIterator.java:43)
	at org.apache.spark.sql.execution.WholeStageCodegenExec$$anon$1.hasNext(WholeStageCodegenExec.scala:726)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$getByteArrayRdd$1(SparkPlan.scala:321)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:872)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:872)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:349)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:313)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:127)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:441)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1377)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:444)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more